{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "arrow-parens": "off",
    "no-empty": "warn",
    "operator-linebreak": "off",
    "padded-blocks": "off",
    "linebreak-style": "off",
    "max-len": "off",
    "eol-last": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "plugins": ["jest"]
}