{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "arrow-parens": "off",
    "no-empty": "warn"
  }
}