$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$row-height: 24px;
$info-sell-width: 40px;
$data-sell-width: 100px;
$db-header-height: 64px;
$border-color: #c0c0c0;
$base-font-size: 14px;