@import "variables";
@import "mixins";

.excel__formula {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height;
  height: $formula-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  .info {
    height: 100%;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    line-height: $formula-height;
    min-width: $info-sell-width;
    border-right: 1px solid $border-color;
  }
  .input {
    padding: 5px;
    font-size: 12px;
    width: 100%;
    height: 100%;
    outline: none;
    color: #222;
  }
}