@import "variables";
@import "mixins";

.excel__table {
  position: fixed;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  max-width: 100%;
  max-height: 100%;
  min-height: 200px;
  border-bottom: 1px solid $border-color;
  overflow-x: auto;
  text-align: center;
  font-size: 12px;
  line-height: $row-height;
  .row {
    display: flex;
    flex-wrap: nowrap;
    height: $row-height;
    border-bottom: 1px solid $border-color;
    &-info {
      flex: 0 0 $info-sell-width;
      font-weight: bold;
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
      background: #eee;
    }
    &-data {
      display: flex;
      flex: 1 1;
      flex-wrap: nowrap;
      .column {
        flex: 0 0 $data-sell-width;
        text-align: center;
        font-weight: bold;
        background: #eee;
        border-right: 1px solid $border-color;
      }
      .cell {
        flex: 0 0 $data-sell-width;
        border-right: 1px solid $border-color;
        padding: 0 5px;
        text-align: left;
        white-space: nowrap;
        outline: none;
        &.selected {
          outline: 1px solid green;
        }
      }
    }
  }

}