@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  border-bottom: 1px solid $border-color;
  overflow-x: auto;
  text-align: center;
  font-size: 12px;
  line-height: $row-height;
  .row {
    display: flex;
    flex-wrap: nowrap;
    height: $row-height;
    min-height: 2px;
    &-info {
      position: relative;
      flex: 0 0 $info-sell-width;
      font-weight: bold;
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      background: #eee;
    }
    &-data {
      display: flex;
      flex: 1 1;
      flex-wrap: nowrap;
    }
  }
  .cell {
    display: flex;
    min-width: 20px;
    align-items: center;
    width: $data-sell-width;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 0 5px;
    text-align: left;
    white-space: nowrap;
    outline: none;
    &.selected {
      border: none;
      outline: 1px solid $primary-color;
    }
  }
  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    width: $data-sell-width;
    font-weight: bold;
    background: #eee;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
  .col-resize, .row-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $primary-color;
    z-index: 100;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
  .col-resize {
    top: 0;
    width: 4px;
    &:hover {
      cursor: col-resize;
    }
  }
  .row-resize {
    left: 0;
    height: 4px;
    &:hover {
      cursor: row-resize;
    }
  }
}